<div class="container bmenu">
    <div class="row">
      <div class="col-sm-12 col-lg-3  citeam">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img src="img/b4.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h5 >$123 <span class="sub">.32</span></h5>
            <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 citeam">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img src="img/b4.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h5>$123 <span class="sub">.32</span></h5>
            <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 citeam">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img src="img/b2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h5>$123 <span class="sub">.32</span></h5>
            <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >

          </div>
        </div>
      </div>
      </div>
     
        <div class="row">
            <div class="col-sm-12 col-lg-3 citeam">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                  <img src="img/b2.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5>$123 <span class="sub">.32</span></h5>
                    <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >
        
                  </div>
                </div>
              </div>
          <div class="col-sm-12 col-lg-3 citeam">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
              <img src="img/b2.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <h5>$123 <span class="sub">.32</span></h5>
                <button  class="btn btn-danger"><p id="addtocart">Add to cart</p></button >
    
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 citeam">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
              <img src="img/b2.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <h5>$123 <span class="sub">.32</span></h5>
                <button  class="btn btn-danger"><p id="addtocart">Add to cart</p></button >
    
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-3 citeam">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                  <img src="img/b2.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5>$123 <span class="sub">.32</span></h5>
                    <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3 citeam">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                  <img src="img/b2.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5>$123 <span class="sub">.32</span></h5>
                    <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3 citeam">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                  <img src="img/b2.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5>$123 <span class="sub">.32</span></h5>
                    <button  class="btn btn-danger" ><p id="addtocart">Add to cart</p></button >
                  </div>
                </div>
              </div>
        </div>
        
      </div>

