
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Yumy.</title>
    </head>
    <body>
      <nav class="bg-light">
        <div class="container-fluid ">
            <div class="row">
              <div class="col-lg-2">
                <a class="navbar-brand " style="font-size:xx-large" href="home">TASTY<span>.</span></a>
              </div>
              <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-2 new-content"  >
                        <select name="languages" id="lang" style="width:100%; height: 100%;">
                            <option value="javascript">Category</option>
                            <option value="php">Starters</option>
                            <option value="java">LUNCH</option>
                            <option value="golang">DINNER</option>
                            <option value="python">DRINK</option>
                          </select>
                    </div>
                    <div class="col-lg-6 new-content">
                      <input style="width:100%; height: 100%;" type="text" placeholder="Serch for dish">
                    </div>
                    <div class="col-lg-1  new-content">
                     <button style="width:100%;height: 100%;">
                        <svg style="width:100%;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                     </button>   
                    </div >
                    <div class="col-lg-2 new-content border border-dark ">
                    <button style="width:100% ;height:100%; font-size:small;" type="button" class="btn btn-outline-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg> Pick a Location</button>
                  </div>
                </div>
                </div>

                
              <div class="col-lg-1 new-content">
                <a style="font-size:xx-large" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg></a>   
              </div>

            </div>
        </div>
      </nav>
    